<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
  <tr>
    <td width="1%" valign="top">   <!-- MENU ANFANG -->
      <table border="0" cellspacing="4" cellpadding="0" width="150"><tr><td>
        <table width="100%" class="LayoutTable">
          <tr><td class="TableCaption">Menu</td></tr>
          <tr><td>[Wikiuserpage: "Menu"]</td></tr>
        </table>
      </td></tr><tr><td>
        <table width="100%" class="LayoutTable">
          <tr><td class="TableCaption">Links</td></tr>
          <tr><td>[Wikiuserpage: "Links"]</td></tr>
        </table>
      </td></tr>
      </td></tr><tr><td>
        <table width="100%" class="LayoutTable">
          <tr><td class="TableCaption">Login</td></tr>
          <tr><td>[Wikielement: "Login-menu"]</td></tr>
        </table>
      </td></tr>
      </td></tr><tr><td>
        <table width="100%" class="LayoutTable">
          <tr><td class="TableCaption">Revision</td></tr>
          <tr><td>[Wikielement: "Revision-warning"][Wikielement: "Revision-chooser"]</td></tr>
        </table>
      </td></tr>
      </table>
    </td>             <!-- MENU ENDE -->
    <td width="99%" style="padding:4px;">
      <table width="100%" class="LayoutTable" height="100%">
        <tr><td class="TableCaption">Main</td></tr>
        <tr><td height="100%" valign="top" style="padding:10px;">[Wikimainpage]</td></tr>
      </table>
    </td>
  </tr>
</table>